<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      type="text"
      formControlName="title"
      matInput
      autocomplete="off"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Body</mat-label>
    <input
      type="text"
      formControlName="body"
      matInput
      autocomplete="off"
      required
    />
  </mat-form-field>
  <mat-slide-toggle formControlName="public">Public</mat-slide-toggle>
  <button mat-raised-button color="primary" [disabled]="form.invalid">
    submit
  </button>
</form>
