<form [formGroup]="form" (ngSubmit)="submit()">
  <mat-form-field>
    <mat-label>Title</mat-label>
    <input
      type="text"
      formControlName="title"
      matInput
      autocomplete="off"
      required
    />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Body</mat-label>
    <input
      type="text"
      formControlName="body"
      matInput
      autocomplete="off"
      required
    />
  </mat-form-field>
  <h2>タグ</h2>
  <div formGroupName="tags">
    <label>
      <input type="checkbox" formControlName="cooking" />
      cooking
    </label>
    <label>
      <input type="checkbox" formControlName="fight" />
      fight
    </label>
    <label>
      <input type="checkbox" formControlName="sky" />
      sky
    </label>
    <label>
      <input type="checkbox" formControlName="book" />
      book
    </label>
  </div>

  <mat-slide-toggle formControlName="public">Public</mat-slide-toggle>
  <button mat-raised-button color="primary" [disabled]="form.invalid">
    submit
  </button>
</form>
